body{
    font-size: 150%;
    background-color:#95E1FF;
}
section{
    border: black 1px solid;
    background-color: #FFFFE0;
    padding: 10px;
    margin: 10px;
    margin-right: 50%;
}

table{
    margin-left: auto;
    margin-right: auto;
}
table.enero{
    text-align: center;
}
table.enero td{
    border-bottom: #EEEEEE 1px solid;
}
table.enero th{
    white-space: pre;
    border-bottom: #EEEEEE 1px solid    
}
caption.enero{
    white-space: pre;
    font-style: italic;
    font-weight: bold;
}
.columna{
    border-left:#EEEEEE 1px solid ;
}
caption.febrero{
    font-weight: bold;
    text-align: right;
}
table.febrero{
    text-align: right;
}
table.febrero td{
    padding-right: 15px;
    border-right:#EEEEEE 1px solid ;
    font-size: 120%;
}
table.febrero th{
    border-right:#EEEEEE 1px solid;
}

caption.marzo{
    text-align: left;
    white-space: pre;
}
table.marzo{
    border: black 1px solid;
    border-collapse: collapse;
}
table.marzo th{

    padding-right: 15px;
    padding-left: 15px;
    border: black 1px solid;
}
table.marzo td{
    border:  black 1px solid;
    font-size: 80%;
    padding-bottom: 30px;
}
